{{ define "main" }}
<article id="info" class="main-content">
    <div class="breadcrumbs">
        <a href="{{ref . "/"}}" class="back">{{T "home_back"}}</a> > <span>{{ .Title }}</span>
    </div>
    <div class="content">
        <h1>{{ .Title }}</h1>
        <div>
            <h2>{{T "info_how_to_get"}}</h2>
            <div class="row pin-wrapper">
                <div class="col card ">
                    <div class="card-wrapper pin-element">
                        <p>{{T "info_bilbostack_title"}}</p>
                        <h3>{{T "info_bilbostack_where"}}</h3>
                        <p class="heading-square">{{T "info_bilbostack_address"}}</p>
                        <video autoplay muted loop playsinline>
                            <source src="{{ "video/euskalduna.webm" | relURL }}" type="video/webm">
                            <source src="{{ "video/euskalduna.mp4" | relURL }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col content-text">
                    {{ T "info_bilbostack_text" | safeHTML }}
                </div>
            </div>

            <div class="row pin-wrapper">
                <div class="col card">
                    <div class="card-wrapper pin-element">
                        <p>{{T "info_previa_title"}}</p>
                        <h3>{{T "info_previa_where"}}</h3>
                        <p class="heading-square">{{T "info_previa_address"}}</p>
                         
                        {{ with resources.Get "img/edificio-ensanche.webp" }}
                        <img src="{{ .RelPermalink }}" alt="{{T "info_previa_alt"}}">
                        {{ end }}

                    </div>
                </div>
                <div class="col content-text">
                    {{ T "info_previa_text" | safeHTML }}
                </div>
            </div>
        </div>
        <div>
            <h2>{{T "info_conducta"}}</h2>
            <div class="row pin-wrapper">
                <div class="col card">
                    <div class="card-wrapper pin-element">
                        <h3 class="heading-square">{{T "info_conducta_title"}}</h3>
                        {{T "info_conducta_text" | safeHTML }}
                    </div>
                </div>
                <div class="col content-text">
                    {{ T "info_conducta_content" | safeHTML }}
                </div>
            </div>
        </div>
    </div>
</article>

{{ partial "site-sponsors.html" .}}
{{ end }}