html,
body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

h1,
.h1 {
    font-size: 3rem; // 48px
}

h2,
.h2 {
    font-size: 3.4rem; // 54px
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 3rem;

    @media screen and (max-width: $breakpoint-md) {
        font-size: 2.5rem; // 40px
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 1.5rem; // 24px;
    }
}

h3,
.h3 {
    font-size: 2rem; // 32px
    line-height: 0.94;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: var(--current-color-400);
}

h4,
.h4 {
    font-size: 1.5rem; // 24px
    font-weight: 500;
}

h5,
.h5 {
    font-size: 1.25rem; // 20px
}

h6,
.h6 {
    font-size: 1rem; // 16px
}

a {
    color: var(--font-color);
    transition: all 0.2s ease;

    &:hover {
        color: var(--current-color-400);
    }
}

.heading-square {
    font-size: 1.25rem;
    color: var(--current-color-400);
    font-weight: 700;
    padding-left: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 1rem;
        height: 1rem;
        background-color: var(--current-color-400);
    }
}

.small {
    font-size: 0.5em;
}
