:root {
    // COLORS
    --color-primary-dark: #08262e;
    --color-primary-light: #ffffff;

    // Orange
    --orange-0: #f1eae7;
    --orange-100: #f2e8dc;
    --orange-200: #f2ddc6;
    --orange-300: #f1be84;
    --orange-400: #f08a17; //main
    --orange-500: #7c5823;
    --orange-600: #363a29;
    --orange-700: #1f302c;

    //Aqua
    --aqua-0: #e6eef0;
    --aqua-100: #daeae9;
    --aqua-200: #c2e2e0;
    --aqua-300: #79c9c5;
    --aqua-400: #00a199; //main
    --aqua-500: #046464;
    --aqua-600: #063f43;
    --aqua-700: #073239;

    // Blue
    --blue-400: #2e2e83; //main

    // Cyan
    --cyan-400: #019cd1; //main

    // Purple
    --purple-400: #991b80; //main

    // Yellow
    --yellow-400: #fcb817; //main

    // Dark Yellow
    --dark-yellow-400: #f08a17; //main

    // Red
    --red-400: #2e2e83; //e2241b

    // Pink
    --pink-400: #e1287c; //main

    // Violet
    --violet-0: #ebe8ec;
    --violet-100: #e4dde7;
    --violet-200: #d5c8db;
    --violet-300: #aa89b9;
    --violet-400: #7e31a2; //main
    --violet-500: #352457;
    --violet-600: #1a253e;
    --violet-700: #112636;

    //Current Color Edition
    $current-color: "violet";
    @for $i from 0 through 7 {
        --current-color-#{$i * 100}: var(--#{$current-color}-#{$i * 100});
    }

    // FONT
    --font-family: "Plus Jakarta Sans", sans-serif;
    --font-size-base: clamp(0.875rem, 0.8182rem + 0.1515vw, 1rem);
    --line-height-base: 1.4;
    --font-color: var(--color-primary-dark);

    // BORDERS
    --border-radius: 0.5rem;
    --border-radius-xs: 0.25rem;

    // HEADER
    --header-height: 110px;

    --main-gap: 1rem;
    --sidenav-width: 100vw;
}

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

@media screen and (min-width: $breakpoint-lg) {
    :root {
        --sidenav-width: 50vw;
    }
}

@media screen and (min-width: $breakpoint-md) {
    :root {
        --main-gap: 2rem;
    }
}

