:root {
    // COLORS
    --color-primary-dark: #08262e;
    --color-primary-light: #ffffff;

    // Orange
    --orange-0: #f1eae7;
    --orange-100: #f2e8dc;
    --orange-200: #f2ddc6;
    --orange-300: #f1be84;
    --orange-400: #f08a17; //main
    --orange-500: #7c5823;
    --orange-600: #363a29;
    --orange-700: #1f302c;

    //Blue
    --blue-0: #e6eef0;
    --blue-100: #daeae9;
    --blue-200: #c2e2e0;
    --blue-300: #79c9c5;
    --blue-400: #00a199; //main
    --blue-500: #046464;
    --blue-600: #063f43;
    --blue-700: #073239;

    // Morado
    --purple-0: #ebe8ec;
    --purple-100: #e4dde7;
    --purple-200: #d5c8db;
    --purple-300: #aa89b9;
    --purple-400: #7e31a2; //main
    --purple-500: #352457;
    --purple-600: #1a253e;
    --purple-700: #112636;

    //Current Color Edition
    $current-color: "purple";
    @for $i from 0 through 7 {
        --current-color-#{$i * 100}: var(--#{$current-color}-#{$i * 100});
    }

    // FONT
    --font-family: "Plus Jakarta Sans", sans-serif;
    --font-size-base: 16px;
    --line-height-base: 1.2;
    --font-color: var(--color-primary-dark);

    // BORDERS
    --border-radius: 0.5rem;
    --border-radius-xs: 0.25rem;

    // HEADER
    --header-height: 110px;
}
