{{ define "main" }}
<article id="past-editions" class="main-content">
    {{ partial "breadcrumbs.html" (dict "page" .) }}
    <h1>{{ .Title }}</h1>
    <div class="past-editions">
        {{ $editions := $.Site.Params.Editions }}
        {{ range $index, $edition := $editions }}
        <div class="edition" style="--color: var(--{{.color}}-400)">

            <a href="{{.url}}" target="_blank" class="{{ if .current }}current{{ end }}">
                <span class="edition-year">{{.year}}</span>
                <span class="edition-data{{ if not .tracks }} edition-data--empty{{ end }}">{{ if .tracks }}{{T "past_editions_tracks" (dict "number" .tracks)}}{{ end }}</span>
                <span class="edition-data{{ if not .speakers }} edition-data--empty{{ end }}">{{ if .speakers }}{{T "past_editions_speakers" (dict "number" .speakers)}}{{ end }}</span>
                <span class="edition-data{{ if not .attendees }} edition-data--empty{{ end }}">{{ if .attendees }}{{T "past_editions_attendees" (dict "number" .attendees)}}{{ end }}</span>
                <span class="edition-data{{ if not .network }} edition-data--empty{{ end }}">{{ if .network }}{{T "past_editions_networking" (dict "number" .network)}}{{ end }}</span>

                {{ $year := .year | string }}
                {{ $yearImage := printf "img/year-%s.svg" $year }}
                {{ with resources.Get $yearImage }}
                <span class="img-tag"><img src="{{ .RelPermalink }}" alt="{{T " past_editions_year" (dict "number" $year)}}"></span>
                {{ end }}

            </a>
        </div>
        {{ end }}
    </div>

    {{ partial "site-wall-of-fame.html" . }}
</article>

{{ partial "site-sponsors.html" .}}
{{ end }}