body{
    background-color: #E6E6E6;
    color: #08262E;
}
body, a, header .info, #top-nav .links a{
    color: #08262E;
}
#top-nav{
    background-color: #E6E6E6;
    color: #08262E;
}
article{
    padding: 2rem 0 2rem 0;
    background-color: #F2F2F2;
}
header{
    background-color: #F2F2F2;
}
header img{
    max-width: 90%;
    height: auto;
    margin-top: 4rem;
}
header h1 {
    font-size: 4.2rem;
    font-weight: bold;
    margin-top: 0;
    color: #ccc;
}
header #top-nav a {
    text-decoration: none;
}
header #top-nav h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc;
    text-decoration: none;
}
#laprevia-header.inner h1{
    font-size: 5vw;
}
article#speaker_detail a.back {
    color: #333;
}
@media (min-width: 768px) {
    header h1 {
        font-size: 8rem;
    }
}
@media (min-width: 1200px) {
    header h1 {
        font-size: 12rem;
    }
}