.btn {
    padding: 1rem 2rem;
    border-radius: 50px;
    text-decoration: none;
    background-color: var(--current-color-400);
    color: var(--color-light);
    font-size: 1.25rem;
    border: 2px solid var(--current-color-400);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:before {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--color-primary-dark);
        border-radius: 50px;
        z-index: -1;
        transition: all 0.2s ease;
    }

    &:hover {
        color: var(--color-light);
    }

    &:hover:before {
        top: 0.4rem;
    }

    &-outline {
        border-color: var(--font-color);
        color: var(--font-color);
        background-color: var(--color-primary-light);

        &:before {
            background-color: var(--current-color-400);
        }

        &:hover {
            color: var(--font-color);
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        font-size: 1.1rem;
        padding: 0.75rem 1.5rem;
    }
}
