#programa {
    position: relative;

    .programa-header {
        position: relative;
        z-index: 100;
    }
}

.cards-programa {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;

    .card-programa {
        position: relative;
        background-color: var(--current-color-100);
        border-radius: var(--border-radius);
        padding: 2rem 1rem 1rem;
        flex: 0.35;

        h3 {
            color: var(--font-color);
            margin: 0 0 2rem 0;
            font-size: 4.4rem;

            .small {
                display: block;
                line-height: 1.5;
            }
        }

        h4 {
            color: var(--current-color-400);
            margin: 0 0 1rem 0;
            font-size: 1.5rem;
            font-weight: 600;
        }

        @media screen and (max-width: $breakpoint-sm) {
            h3 {
                font-size: 3.5rem;
            }

            h4 {
                font-size: 1.25rem;
            }
        }

        p {
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .card-programa-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .card-content {
            flex: auto;
            display: flex;
            gap: 3rem;
            box-sizing: border-box;
            margin-bottom: 1rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: var(--border-radius-xs);
            }

            .card-content-left {
                padding-left: 1rem;
            }

            .card-content-right {
                font-size: 1.25rem;
                aspect-ratio: 3 / 4;
                width: 40%;
                min-width: 40%;
                max-width: 40%;

                h3 {
                    font-size: 4rem;
                    margin-top: 0;
                    margin-bottom: 1rem;
                }

                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }

            .card-actions {
                margin-top: 3rem;
                margin-bottom: 2rem;
                z-index: 0;
                position: relative;
                display: flex;
                gap: 1rem;
            }
        }
    }

    .card-programa-2 {
        background-color: var(--current-color-500);
        color: var(--color-primary-light);
        flex: 0.65;

        h3 {
            color: var(--color-primary-light);
        }

        h4 {
            color: var(--current-color-300);
        }

        .card-footer {
            background: var(--current-color-600);

            .card-footer-wrapper {
                svg {
                    path {
                        fill: var(--color-primary-light);
                    }
                }

                .card-footer-text {
                    color: var(--color-primary-light);
                }

                a {
                    color: var(--color-primary-light);

                    &:hover {
                        color: var(--current-color-300);
                    }
                }
            }
        }
    }

    .card-footer {
        padding: 1rem;
        background: var(--current-color-200);
        border-radius: var(--border-radius);

        .card-footer-wrapper {
            display: flex;
            text-decoration: none;

            svg {
                width: 3rem;
                height: 3rem;
                flex-shrink: 0;

                path {
                    fill: var(--current-color-600);
                }
            }

            .card-footer-text {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-left: 1rem;
                line-height: 1.2;
                font-size: 1.25rem;
                font-weight: bold;
                color: var(--current-color-600);
            }

            a {
                font-size: 1rem;
                color: var(--current-color-600);

                &:hover {
                    color: var(--current-color-400);
                }
            }
        }
    }

    // Spacer para permitir scroll adicional
    .programa-spacer {
        min-height: 50vh;
    }

    @media screen and (max-width: $breakpoint-xl) {
        flex-direction: column;

        .card-programa {
            padding: 1rem;

            .card-content .card-content-left,
            .card-content .card-content-right {
                padding-left: 0;
            }
        }
    }
}

.card {
    .card-wrapper {
        background-color: var(--current-color-100);
        padding: 2rem;
        border-radius: var(--border-radius);
    }

    // first child no margin top
    *:first-child {
        margin-top: 0;
    }

    h3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h3 + p {
        margin-top: 1rem;
    }

    img,
    video {
        width: 100%;
        border-radius: var(--border-radius-xs);
    }

    @media screen and (max-width: $breakpoint-sm) {
        .card-wrapper {
            padding: 1rem;
        }
    }
}
