#speakers {
    .speakers-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        row-gap: 3rem;
    }

    .speaker {
        color: var(--font-color);
        text-decoration: none;

        h4 {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-size: 1.5rem;
        }

        .card-text {
            margin: 0 0 0.5rem;
            font-size: 1rem;
            font-weight: 700;
        }

        .image-wrapper {
            width: 100%;
            aspect-ratio: 0.8;
            overflow: hidden;
            transition: all 0.3s ease;
            box-shadow: 0 0 0 var(--current-color-400);
            border-radius: var(--border-radius-xs);
        }

        .image {
            width: 100%;
            display: block;
            aspect-ratio: 0.8;
            background-size: cover;
            background-position: center;
            transition: all 0.5s ease;
            border-radius: var(--border-radius-xs);
            transform-origin: 50% 95%;
        }

        &:hover {
            color: var(--font-color);

            .image-wrapper {
                box-shadow: 0 0.5rem 0 var(--current-color-400);
            }

            .image {
                scale: 1.1;
            }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        .speakers-list {
            grid-template-columns: repeat(3, 1fr);
        }

        .speaker {
            h4 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .speakers-list {
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            row-gap: 4rem;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        .speakers-list {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @media screen and (min-width: $breakpoint-xxl) {
        .speakers-list {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

.tags {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .tag {
        background-color: var(--current-color-500);
        color: var(--color-primary-light);
        padding: 0.3rem 1rem;
        font-weight: 700;

        &-day {
            background-color: var(--current-color-400);
        }

        @media screen and (max-width: $breakpoint-sm) {
            padding: 0.3rem 0.5rem;
        }
    }
}

#speaker {
    .speaker-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 5rem;
        padding: 0 5rem;

        @media (min-width: 768px) {
            flex-direction: row;
        }

        .speaker-title {
            background-color: var(--color-primary-light);
            z-index: 1;
            position: relative;
            padding-top: 2rem;
            padding-bottom: 0.5rem;
        }

        h1 {
            margin-top: 0;
            margin-bottom: 1rem;
            line-height: 1;
            color: var(--current-color-400);
            font-size: 6rem;
        }

        .position {
            color: var(--current-color-400);
            font-weight: 700;
            font-size: 1.5rem;
            // margin-bottom: 1rem;
        }

        .social-media {
            margin-bottom: 2rem;
        }

        .bio {
            font-size: 1.25rem;
            margin-bottom: 4rem;
        }

        .talk {
            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            .tags {
                margin-bottom: 2rem;
            }

            .talk-title {
                font-size: 2rem;
                margin-bottom: 2rem;
                color: var(--current-color-400);
                font-weight: 600;
            }

            .talk-description {
                font-size: 1.25rem;
            }
        }
    }

    .image-wrapper {
        position: relative;
        margin-top: 2rem;

        .img-tag {
            position: absolute;
            left: -10%;
            bottom: 10%;
            max-width: 60%;
            transition: all 0.4s ease;

            svg {
                width: 100%;
                height: 100%;
            }
        }

        .fill-main {
            fill: var(--current-color-400);
        }

        .shadow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.4s ease;

            &--1 {
                background-color: var(--current-color-400);
                bottom: -1rem;
                z-index: -1;
            }

            &--2 {
                background-color: var(--current-color-300);
                bottom: -2rem;
                z-index: -2;
            }

            &--3 {
                background-color: var(--current-color-200);
                bottom: -3rem;
                z-index: -3;
            }
        }

        &:hover {
            .img-tag {
                transform: rotate(25deg);
            }

            .shadow--1 {
                bottom: -1.5rem;
            }
            .shadow--2 {
                bottom: -3rem;
            }
            .shadow--3 {
                bottom: -4.5rem;
            }
        }
    }
}
