<!doctype html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  {{ partial "site-favicon.html" .}}
  {{ partial "site-style.html" .}}
  {{ partial "site-meta.html" .}}
</head>
<body>
{{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
{{ block "main" . }}{{ end }}
{{ block "footer" . }}{{ partialCached "site-footer.html" . }}{{ end }}
</body>
</html>
