{{ define "main" }}
<article id="speaker" class="main-content">
    <div class="breadcrumbs">
        <a href="{{ref . "/#speakers"}}" class="back">← {{T "speakers_back"}}</a>
    </div>
    <div class="content speaker-wrapper">
        <div class="speaker-left">
            <div class="image-wrapper">
                {{$img := false}}
                {{ with resources.Get .Params.image }}
                {{ $img = .Resize (printf "%dx webp q70 lanczos" .Width) }}
                {{end}}
                {{ with $img }}
                <img class="image" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.Params.title }}" fetchpriority="high" decoding="async" />
                {{ end }}

                <span class="shadow shadow--1"></span>
                <span class="shadow shadow--2"></span>
                <span class="shadow shadow--3"></span>

                {{ with resources.Get "img/tech_conference.svg" }}
                <span class="img-tag">{{ .Content | safeHTML }}</span>
                {{ end }}
            </div>

        </div>
        <div class="speaker-right">

            <div class="speaker-title">
                <h1 class="name">{{ .Params.title }}</h1>
                <div class="position">{{ .Params.taglineLarge }}</div>
            </div>

            <div class="social-media">
                {{ range .Params.Links }}
                <a href="{{.url}}" class="social-icon social-icon--{{.title | lower}}" target="_blank" title="{{.title}}">
                    {{ with resources.Get .image }}
                    {{ .Content | safeHTML }}
                    {{ end }}
                </a>
                {{ end }}
            </div>
            {{.Content}}
        </div>
</article>
{{ partial "site-sponsors.html" .}}
{{end}}