footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding-top: 1rem;
}

#organizadores {
    .orgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;

        .org {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 1.5rem;

            background: var(--current-color-fixed-600);
            padding: 1rem 1.5rem 1rem 1rem;
            border-radius: var(--border-radius);

            color: var(--color-light);
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;

            img {
                aspect-ratio: 1;
                object-fit: cover;
            }

            &-name {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: $breakpoint-md) {
            gap: 1rem;

            .org {
                flex: 1 1 100%;

                &-name {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#footer-menu {
    margin-bottom: 5rem;

    .horizontal-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2rem;
        justify-content: flex-start;

        li {
            a {
                color: var(--color-light);
                text-decoration: none;
                font-size: 1.2rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 3rem;

        .horizontal-menu {
            flex-direction: column;
        }
    }
}

#editions {
    margin-bottom: 5rem;

    .editions {
        color: var(--color-light);
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        a,
        span {
            color: var(--color-light);
            font-weight: 600;
            font-size: 1.5rem;

            &:hover:not(span):not(.current) {
                text-decoration: underline;
                color: var(--color);
            }

            &.current {
                background-color: var(--current-color-fixed-400);
                text-decoration: none;
                cursor: default;
                padding: 0.2rem 0.5rem;
                border-radius: var(--border-radius-xs);
            }
        }
    }
}

#contact {
    display: flex;
    gap: 1.5rem 5rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;

    a {
        color: var(--current-color-fixed-400);
        font-size: 2.5rem;
        .fill-main {
            fill: var(--current-color-fixed-400);
        }

        &:hover {
            color: var(--color-light);

            .fill-main {
                fill: var(--color-light);
            }
        }
    }
}

.tech {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;

    i {
        color: var(--current-color-fixed-300);
    }
}
