body,
html {
    margin: 0;
}

.main-content {
    padding: var(--header-height) 0 2rem;
    background-color: var(--color-primary-light);

    > section {
        margin-bottom: 4rem;
    }
}

.content {
    padding: var(--main-gap);
}

.row {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    align-items: flex-start;

    .col {
        flex: 1;
        box-sizing: border-box;
    }
}

.block-heading {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--color-primary-light);
    position: relative;
    z-index: 9;
    margin-bottom: 0;

    h2 {
        margin-bottom: 0.5rem;
    }
    h3 {
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}
