.main-content {
    padding: var(--header-height) 0 2rem;

    > section {
        margin-bottom: 4rem;
    }
}

.content {
    padding: 2rem;
}

.row {
    display: flex;
    gap: 2rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
    align-items: flex-start;

    .col {
        flex: 1;
        box-sizing: border-box;
    }
}
