<article id="agenda">
    <h2 class="text-center">Agenda</h2>
    <div class="table-responsive-sm">
        <table class="table table-striped stacktable large-only" id="agenda-table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th width="40%">
                    <div id="track1"><a href="https://www.euskaldunabilbao.com/espacios/sala-0e/"
                                       rel="noopener noreferrer" target="_blank">Sala 0E</a></div>
                </th>
                <th width="40%">
                    <div id="track2"><a href="https://www.euskaldunabilbao.com/espacios/sala-0d/"
                                       rel="noopener noreferrer" target="_blank">Sala 0D</a></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="time">9:00-9:20</td>
                <td><p>Presentación</p></td>
                <td><p>Presentación</p></td>
            </tr>
            <tr>
                <td class="time">9:30-10:20</td>
                <td><a href="adria-fontcuberta#talk"><h5>El arte de desarrollar: ¿En qué pensamos cuando pensamos en
                    software?</h5>
                    <p>Adrià Fontcuberta</p></a></td>
                <td><a href="esther-borao#talk"><h5>Innovando desde la Administración, ¿desierto o Disneyland?</h5>
                    <p>Esther Borao</p></a></td>
            </tr>
            <tr>
                <td class="time">10:30-11:20</td>
                <td><a href="alena-nikolaeva#talk"><h5>Qué hay nuevo en accesibilidad? WCAG 2.2 facilito. Pero de
                    verdad.</h5>
                    <p>Alena Nikolaeva</p></a></td>
                <td><a href="gabs-garcia#talk"><h5>Backend de Acero: Forjando la Seguridad en tu Software</h5>
                    <p>Gabriela 'Gabs' García</p></a></td>
            </tr>
            <tr>
                <td class="time">11:30-12:00</td>
                <td><p>Coffee break</p></td>
                <td><p>Coffee break</p></td>
            </tr>
            <tr>
                <td class="time">12:00-12:50</td>
                <td><a href="natalia-venditto#talk"><h5>Concentremonos en el rendimiento del frontend...renderizando en
                    el backend.</h5>
                    <p>Natalia Venditto</p></a></td>
                <td><a href="mario-lopez#talk"><h5>Ser data-driven no es de guapas</h5>
                    <p>Mario López Martínez</p></a></td>
            </tr>
            <tr>
                <td class="time">13:00-13:50</td>
                <td><a href="ujue-agudo#talk"><h5>Cuando las decisiones humanas se cruzan con los sistemas
                    automatizados</h5>
                    <p>Ujue Agudo &amp; Karlos g Liberal</p></a></td>
                <td><a href="isidro-lopez#talk"><h5>Valor por encima de código: el poder del Despliegue Continuo</h5>
                    <p>Isidro López</p></a></td>
            </tr>
            <tr>
                <td class="time">13:50-14:00</td>
                <td><p>Cierre del evento</p></td>
                <td><p>Cierre del evento</p></td>
            </tr>
            </tbody>
        </table>


        <table class="table table-striped stacktable small-only" id="agenda-table-mobile">
            <tbody>
            <tr>
                <th><span class="time">9:00-9:20</span></th>
            </tr>
            <tr>
                <td>
                    <p>Presentación</p>
                </td>
            </tr>
            <tr>
                <th><span class="time">9:30-10:20</span></th>
            </tr>
            <tr>
                <td>
                    <div class="track">
                        <strong class="room">SALA OA</strong>
                        <a href="adria-fontcuberta#talk">
                            <h5>El arte de desarrollar: ¿En qué pensamos cuando pensamos en software?</h5>
                            <p>Adrià Fontcuberta</p>
                        </a>
                    </div>
                    <div class="track">
                        <strong class="room">SALA 1A</strong>
                        <a href="adria-fontcuberta#talk">
                            <h5>El arte de desarrollar: ¿En qué pensamos cuando pensamos en software?</h5>
                            <p>Adrià Fontcuberta</p>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <th><span class="time">9:30-10:20</span></th>
            </tr>
            <tr>
                <td>
                    <div class="track">
                        <strong class="room">SALA OA</strong>
                        <a href="adria-fontcuberta#talk">
                            <h5>El arte de desarrollar: ¿En qué pensamos cuando pensamos en software?</h5>
                            <p>Adrià Fontcuberta</p>
                        </a>
                    </div>
                    <div class="track">
                        <strong class="room">SALA 1A</strong>
                        <a href="adria-fontcuberta#talk">
                            <h5>El arte de desarrollar: ¿En qué pensamos cuando pensamos en software?</h5>
                            <p>Adrià Fontcuberta</p>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</article>