<section id="home-header" class="bs-texture-dots">
    <h1>Bilbostack</h1>
    <div class="content">
        <div class="logo-header hide-on-mobile">
            {{ with resources.Get "img/bilbostack-logo.svg" }}
            {{ .Content | safeHTML }}
            {{ end }}
        </div>

        <div class="logo-header show-on-mobile-only">
            {{ with resources.Get "img/bilbostack-logo-2lines.svg" }}
            {{ .Content | safeHTML }}
            {{ end }}
        </div>

        <div class="programa-header">
            <p class="heading-square">{{T "home_slogan_short"}}</p>
            <h2>{{T "home_slogan"}}</h2>
        </div>
    </div>
</section>