<section id="speakers" class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
        <a class="card speaker" href="alena-nikolaeva">
            <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/alena-nikolaeva.jpg')"></div>
            <div class="card-body"><h5 class="card-title">Alena Nikolaeva</h5>
                <p class="card-text">Product Designer @ GitHub</p></div>
        </a>
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="adria-fontcuberta">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/adria-fontcuberta.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Adrià Fontcuberta</h5>
            <p class="card-text">Software Engineer @ Stripe</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="esther-borao">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/esther-borao.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Esther Borao</h5>
            <p class="card-text">Directora general @ ITAINNOVA</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="isidro-lopez">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/isidro-lopez.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Isidro López</h5>
            <p class="card-text">Product developer &amp; Product engineering coach</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="gabs-garcia">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/gabs-garcia.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Gabriela 'Gabs' García</h5>
            <p class="card-text">Secure Software Dev | Speaker | Coding &amp; CyberSec Instructor</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="ujue-agudo">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/ujue-agudo.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Ujue Agudo</h5>
            <p class="card-text">Investigadora en Bikolabs, el laboratorio de intervención @ Biko</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="karlos-g-liberal">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/karlos-g-liberal.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Karlos g Liberal</h5>
            <p class="card-text">Responsable de Bikolabs @ Biko</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="natalia-venditto">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/natalia-venditto.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Natalia Venditto</h5>
            <p class="card-text">Principal Program Manager leading e2e DXX @ Microsoft</p></div>
    </a></div>
    <div class="col-lg-4 col-sm-6 col-xs-12"><a class="card speaker" href="mario-lopez">
        <div class="image" style="background-image:url('https://2024.bilbostack.com/speakers/mario-lopez.jpg')"></div>
        <div class="card-body"><h5 class="card-title">Mario López Martínez</h5>
            <p class="card-text">Head of Data @ Freepik</p></div>
    </a></div>
</section>