<section id="programa" class="pin-wrapper">
    <div class="content block-heading pin-element">
        <h2>{{T "agenda_title"}}</h2>
        <h3 class="heading-square">{{T "agenda_subtitle"}}</h3>
    </div>

    <div class="cards-programa content">

        <div class="card-programa">
            <div class="card-programa-wrapper">
                <div class="card-content">
                    <div class="card-content-left">
                        <h4>{{ T "previa_date" }}</h4>
                        <h3>{{ T "previa_title" | markdownify }}</h3>
                        <p>{{ T "previa_text" | markdownify }}</p>
                        <div class="card-actions">
                            <a href="{{ T "previa_compra_link" }}" class="btn btn-primary">{{ T "previa_compra" }}</a>
                            {{ if .Site.Params.agendaVisible }}
                            <a href="/agenda" class="btn btn-outline">{{ T "agenda" }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-wrapper">
                        {{ with resources.Get "img/bilbostack-logo-square.svg" }}
                        {{ .Content | safeHTML }}
                        {{ end }}
                        <div class="card-footer-text">
                            <a href="{{ T "previa_como_llegar_link" }}" target="_blank">{{ T "previa_como_llegar_text" }}</a>
                            <span>{{ T "previa_donde" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-programa card-programa-2">
            <div class="card-programa-wrapper">
                <div class="card-content">
                    <div class="card-content-left">
                        <h4>{{ T "bilbostack_date" }}</h4>
                        <h3>{{ T "bilbostack_title" | markdownify }}</h3>
                        <p>{{ T "bilbostack_text" | markdownify }}</p>
                        <div class="card-actions">
                            <a href="{{ T "bilbostack_compra_link" }}" class="btn btn-primary">{{ T "bilbostack_compra" }}</a>
                            {{ if .Site.Params.agendaVisible }}
                            <a href="/agenda" class="btn btn-outline">{{ T "agenda" }}</a>
                            {{ end }}
                        </div>
                    </div>
                    <div class="card-content-right">
                        {{ with resources.Get "img/bilbostack_publico.webp" }}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Público de Bilbostack" loading="lazy" decoding="async">
                        {{ end }}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-wrapper">
                        {{ with resources.Get "img/bilbostack-logo-square.svg" }}
                        {{ .Content | safeHTML }}
                        {{ end }}
                        <div class="card-footer-text">
                            <a href="{{ T "bilbostack_como_llegar_link" }}" target="_blank">{{ T "bilbostack_como_llegar_text" }}</a>
                            <span>{{ T "bilbostack_donde" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>