{{ $links := $.Site.Params.Links }} {{ $org := $.Site.Params.Org }}
<footer>
  <div class="content">
    <div class="tech"><i>&lt;</i>Tech Conference<i>/&gt;</i></div>

    <section id="footer-menu">
      <ul class="horizontal-menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">
            <span class="nav-link-title">{{ .Name }}</span>
          </a></li>
        {{ end }}
      </ul>
    </section>

    <section id="editions">{{ partial "site-editions.html" .}}</section>

    <section id="contact">
      <a href="mailto:{{$.Site.Params.contactEmail}}">{{$.Site.Params.contactEmail}}</a>
      <!-- social media -->
      <div class="social-media">
        {{ range .Site.Params.Links }}
        <a href="{{.url}}" class="nav-link" target="_blank" title="{{.title}}">
          {{ with resources.Get .image }}
          {{ .Content | safeHTML }}
          {{ end }}
        </a>
        {{ end }}
      </div>
    </section>

    <section id="organizadores">
      <h4>{{ T "organization" }}</h4>
      <div class="orgs">
        {{ range $org }}
        {{ $name := .name }}
        <a class="org" href="{{.url}}" title="{{.name}}" target="_blank">
          {{ with resources.Get .image }} {{ with .Resize "162x162 webp q70 lanczos" }}
          <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="auto" class="img-thumbnail" alt="{{$name}}" />
          {{ end }} {{ end }}
          <div class="org-data">
            <div class="org-name">{{.name}}</div>
            <!-- <div class="org-position">{{.position}}</div> -->
          </div>
        </a>

        {{ end }}
      </div>
    </section>

    <!-- <section class="links">Enlaces legales</section> -->

  </div>
</footer>