{{ $isLaPrevia := false }}
{{ $isHome := eq (.Ancestors|len) 0 }}
{{ with .Site.GetPage "/laprevia" }}
    {{if not $isHome}}
    {{ $isLaPrevia = ($.Page.InSection .Page) }}
    {{end}}
{{ end }}
<div class="row" id="top-nav">
    <div class="row">
            <p class="links text-right">
                {{if not $isLaPrevia}}
                <a class="event" href="{{ ref . "laprevia" }}">Ver #laPrevia</a>
                {{else}}
                <a class="event" href="{{ ref . "/" }}">Ver la conferencia #Bilbostack25</a>
                {{end}}
                {{ with .AllTranslations }}
                {{ range . }}
                <a href="{{ .RelPermalink }}"
                   {{ if eq .Lang $.Lang }}class="current"{{ end }}>{{ .Language.LanguageName }}</a>
                {{ end }}
                {{ end }}
            </p>
    </div>
</div>