{{ $links := $.Site.Params.Links }}
{{ $org := $.Site.Params.Org }}
<footer>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3>Organizadores</h3>
                    <div class="row justify-content-start">
                        {{ range $org }}
                        <div class="col-6 col-md-3">
                            <a href="{{.url}}"
                               title="{{.name}}"
                               target="_blank"
                            >
                                {{ with resources.Get .image }}
                                {{ with .Resize "162x162 webp q70 lanczos" }}
                                <img src="{{ .RelPermalink }}"
                                     width="{{ .Width }}"
                                     height="auto"
                                     class="img-thumbnail">
                                {{ end }}
                                {{ end }}
                            </a>
                        </div>
                        {{ end }}
                    </div>
                </div>
                <div class="col-md-5 text-center">
                    <h4>Bilbostack 2024</h4>
                    <ul class="nav flex-column">
                  {{ range $links }}
                  <li class="nav-item">
                    <a href="{{.url}}"
                       class="nav-link"
                       target="_blank"
                       title="{{.title}}">{{.title}}</a>&nbsp;</li>
                  {{ end }}
                </ul>
                </div>
            </div>
        </div>
    </section>
</footer>
