{{ $url := urls.Parse .Site.BaseURL }}
{{ $title := printf "%s | %s" .Title (T "meta_title") }}
{{ $permalink := .Permalink | default .Site.BaseURL }}
{{ $description := cond (ne .Description "") (printf "%s. %s" .Description (T "meta_description")) (T "meta_description") }}
{{ $imagePermalink := false }}
{{ with resources.Get .Params.image }}
    {{ with .Resize (printf "%dx jpeg q70 lanczos" .Width) }}
        {{ $imagePermalink = .Permalink }}
    {{end}}
{{end}}
{{if not $imagePermalink}}
    {{ with resources.Get "img/bilbostack-logo-permalink.png" }}
      {{ $imagePermalink = .Permalink}}
    {{ end }}
{{ end }}
{{ $locales := dict "es" "es_ES" "en" "en_US" "eu" "eu_ES" }}
{{ $locale := index $locales .Site.Language.Lang | default "es_ES" }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $title }}</title>
<meta name="description" content="{{ $description }}">
<link rel="canonical" href="{{ $permalink }}">
{{ range .AllTranslations }}
<link rel="alternate" hreflang="{{ .Site.Language.Lang }}" href="{{ .Permalink }}">
{{ end }}
<link rel="alternate" hreflang="x-default" href="{{ .Site.Home.Permalink }}">
<meta property="og:site_name" content="Bilbostack">
<meta property="og:locale" content="{{ $locale }}">
<meta property="og:url" content="{{ $permalink }}">
<meta property="twitter:url" content="{{ $permalink }}">
<meta property="twitter:domain" content="{{ $url.Host }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ $title }}">
<meta name="twitter:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta name="twitter:description" content="{{ $description }}">
{{if $imagePermalink}}
<meta property="og:image" content="{{ $imagePermalink }}">
<meta name="twitter:image" content="{{ $imagePermalink }}">
{{end}}
<meta name="twitter:card" content="summary_large_image">
