{{ if $.Site.Params.sponsorsVisible}}
{{ $blocks := $.Site.Params.sponsorBlocks }}
<section id="sponsors" class="blue">
    <div class="container-fluid">
        <h2>{{T "sponsors_title"}}</h2>
        {{ range $blocks }}
            {{ if eq .display true }}
                <div class="list">
                    <h3>{{T .title}}</h3>
                    {{ range .sponsors }}
                    {{$height := .height}}
                    {{$name := .name}}
                    <a href="{{.url}}"
                    title="{{$name}}"
                    class="item"
                    target="_blank">
                        {{ with resources.Get .image }}
                        {{ with .Resize (printf "%dx webp q70 lanczos" .Width) }}
                        <img
                            src="{{.RelPermalink}}"
                            alt="{{$name}}"
                            style="height:{{$height}};width:auto">
                        {{ end }}
                        {{ end }}
                    </a>
                    {{ end }}
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>
{{end}}
