{{ if $.Site.Params.sponsorsVisible}}
{{ $blocks := $.Site.Params.sponsorBlocks }}
<section id="sponsors" class="pin-wrapper">
    <div class="content">
        <h2 class="pin-element">{{T "sponsors_title"}}</h2>
        {{ range $blocks }}
        {{ if eq .display true }}
        {{ $class := .class }}
        <h3 class="{{ $class }}">{{T .title}}</h3>
        <div class="list">
            {{ range .sponsors }}
            {{$name := .name}}
            <a href="{{.url}}" title="{{$name}}" class="item {{$class}}" target="_blank">
                {{ with resources.Get .image }}
                {{ if eq .MediaType.SubType "svg" }}
                <img src="{{.RelPermalink}}" alt="{{$name}}">
                {{else}}
                {{ with .Resize (printf "%dx webp q70 lanczos" .Width) }}
                <img src="{{.RelPermalink}}" alt="{{$name}}">
                {{ end }}
                {{ end }}

                {{ end }}
            </a>
            {{ end }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{end}}