{{ define "main" }}
<article>
  <div class="container-fluid">
    <div class="col-lg-8 offset-lg-2">
      <h1 class="hidden-small">{{T "claim_desktop" | safeHTML }}</h1>
      <h1 class="hidden-big">{{T "claim_mobile" | safeHTML }}</h1>
      <a href="{{$.Site.Params.sponsorsLink}}"
         target="_blank"
         title="{{T "cta_sponsors" }}"
         class="btn btn-lg btn-outline-light sponsors">{{T "cta_sponsors" }}</a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <iframe src="{{$.Site.Params.youtubeEmbedUrl}}" title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
      </div>
      {{ partial "home-editions.html" .}}
    </div>
  </div>
</article>
{{end}}
    
