{{ define "main" }}
<div class="main-content">
  <!-- Header -->
  {{ partial "home-header.html" .}}

  <!-- Agenda -->
  {{ partial "home-program.html" .}}

  <!-- CTA Patrocinios -->
  <!-- <section id="presentation">
  <div class="container-fluid">
    <div class="col-lg-8 offset-lg-2">
      <h1>{{T "main_claim" }}</h1>
      <div class="row stats">
        <div class="col col-md-3  col-sm-6 col-12"><span>{{T "subclaim_talks" }}</span></div>
        <div class="col col-md-3 col-sm-6 col-12"><span>{{T "subclaim_tracks" }}</span></div>
        <div class="col col-md-3  col-sm-6 col-12"><span>{{T "subclaim_attendees" }}</span></div>
        <div class="col col-md-3  col-sm-6 col-12"><span>{{T "subclaim_networking" }}</span></div>
      </div>

      <a href="{{$.Site.Params.sponsorsDossierLink}}" target="_blank" title="{{T " cta_sponsors" }}" class="btn btn-lg btn-outline-light sponsors">{{T "cta_sponsors" }}</a>
    </div>
  </div>
</section> -->

  <!-- Ponentes -->
  {{ partial "home-speakers.html" .}}

  <!-- Patrocinadores -->
  {{ partial "site-sponsors.html" .}}

  <!-- Colaboradores -->
  {{ partial "site-collaborators.html" .}}
</div>
{{end}}